<div class="coupon">
  <img src="" alt="">
  <span id="code" class="code-promo">#{{codePromo}}</span>
  <img id="qrcode" src="{{url}}" alt="promotional coupon" class="qr">
</div>

<img src="../images/coupon.png" alt="coupon" class="cupom">
