<div class="coupon">
  <img src="" alt="">
  <span id="code">#{{codePromo}}</span>
  <img id="qrcode" src="{{url}}" alt="promotional coupon">
</div>

<img src="../public/images/coupon.png" alt="coupon">

<div class="promo-body">
  <h1 class="find-the-nearest">find the nearest store from you</h1>

</div>